In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
df = pd.read_csv('Churn_Modelling.csv')
df

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [23]:
X = df.iloc[:, 3:13].values  # higher bound is excluded so 12 + 1

In [24]:
y = df.iloc[:, 13].values

In [25]:
# Encode categorical data
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelEncoder_X_1 = LabelEncoder()
X[:, 1] = labelEncoder_X_1.fit_transform(X[:, 1])         # for country

labelEncoder_X_2 = LabelEncoder()
X[:, 2] = labelEncoder_X_2.fit_transform(X[:, 2])        # for gender

ct = ColumnTransformer([('encoder', OneHotEncoder(), [1])],
                       remainder='passthrough')
X = np.array(ct.fit_transform(X), dtype=np.float)

X = X[:, 1:]  # avoid the dummy variable trap

In [26]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=0)

> **`Applying XGBoost `**

In [27]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X=X_train, y=y_train)

XGBClassifier()

In [28]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [29]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm, '  accuracy - ',
      (1521+208)/(2000))

[[1521   74]
 [ 197  208]]   accuracy -  0.8645

In [30]:
# applying k-fold_cross_validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(
    estimator=classifier, X=X_train, y=y_train, cv=10)  # k = 10

print("accuracy - ", accuracies.mean(),
      ', varience - ', accuracies.std()*100, '%')

accuracy -  0.8625 , varience -  1.0170422803404011 %